NODE_ENV=development
HOST=0.0.0.0
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=a2matex
POSTGRES_PASSWORD=a2matex
POSTGRES_DB=a2matex
DATABASE_URL="postgresql://a2matex:a2matex@localhost:5432/a2matex?schema=public"

ACCESS_TOKEN_EXPIRES_IN=10m
REFRESH_TOKEN_EXPIRES_IN=3d
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

OTP_EXPIRES_IN=5m
RESEND_API_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PREFIX=a2matex:
